/* Base styling */
body {
  font-family: sans-serif;
  background-color: whitesmoke;
  margin: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Title and message */
header {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 1.25rem;
  min-height: 2rem;
  margin-bottom: 2rem;
}

/* Game board layout */
#board {
  display: grid;
  grid-template-columns: repeat(5, 3.5rem); /* 5 tiles per row */
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.tile {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #999;
  border-radius: 5px;
  background-color: white;
}

/* Tiles */
.tile {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid lightpink;
  border-radius: 5px;
  background-color: white;
}

/* On-screen keyboard */
#keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  max-width: 30rem;
}

/* Keyboard buttons */
#keyboard button {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid dark gray;
  border-radius: 5px;
  background-color: whi;
}

#keyboard button:hover {
  background-color: whitesmoke;
}
#keyboard button.wide {
  width: 5.5rem;
}

#play-again {
  margin-top: 2rem;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: gold;
  color: blue;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

